---
const { title, sub_title, years, details, summary } = Astro.props;
// Check if details exists and has items. Education section passes undefined/empty details.
const hasDetails = details && details.length > 0;
---

<li class="p-5 bg-background-offset shadow-lg rounded-xl border border-default">
  <div class="flex flex-col sm:flex-row justify-between items-start">
    <div class="mb-4 sm:mb-0">
      <h3 class="text-2xl font-semibold">{title}</h3>
      <p class="text-lg font-medium text-secondary pt-2">{sub_title}</p>
    </div>
    <p class="text-sm text-offset sm:text-right whitespace-nowrap">{years}</p>
  </div>

  {summary && <p class="mt-4 text-offset leading-relaxed">{summary}</p>}

  {
    hasDetails && (
      <details class="group mt-4 flex flex-col gap-4">
        <summary class="list-none cursor-pointer text-primary hover:text-primary-offset text-sm font-medium focus:outline-none transition-colors duration-300 w-fit order-last">
          <span class="group-open:hidden">Show More</span>
          <span class="hidden group-open:block">Show Less</span>
        </summary>

        <ul class="list-disc list-inside text-offset leading-relaxed">
          {details.map((detail: string) => (
            <li>{detail}</li>
          ))}
        </ul>
      </details>
    )
  }
</li>
